@import '../../global.css';

#root{
    background-color: var(--roxo);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#root img{
    max-width: 200px;
}

.btn{
    color: white;
    padding: 15px 20px;
    width: 200px;
    margin-top: 40px;
}

